.img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
img:hover {
  background-color: lightblue;
}
.img1 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
